@charset "utf-8";

/* #center .centerOuter .centerInner  .slide2, .slide3, .slide4, .slide5{display: none;} */
.centerOuter {position:relative;}
.centerOuter .slick-arrow {
    position:absolute; top:50%; transform:translateY(-50%);
    font-size:70px; color:#fff; cursor:pointer; border:none; background: none; }
.centerOuter .slick-arrow.slick-prev { left:30px; z-index:9999;}
.centerOuter .slick-arrow.slick-next { right:30px; }
.centerOuter .slick-dots { 
    position:absolute; 
    bottom:10px; 
    left:50%;
    transform:translate(-50%);
    width:500px;
}
.centerOuter .slick-dots li { 
    display:inline-block;
    width:18%;
    height:2px;
    background: #999;
    position:relative;
    margin:5px;
}
.centerOuter .slick-dots li button {
    width:0px;
    height: 2px;
    border: none;
    background:#fff; 
    color:#fff; 
    overflow:hidden;
    cursor:pointer;
    position:absolute; left: 0; top:0;
    transition: all 0s;
}
.centerOuter .slick-dots li.slick-active button{
    width:100%;
    transition: all 2s;
}

#center .micenter p{
    margin: 100px 0;
    text-align: center;
    font-size: 19px;
    color:#acaeb0;
    font-weight: bold;
}
#center .micenter .micenterimg{
    width:51%;
    margin:0 auto;
    height:776px;
    position:relative;
}
#center .micenter .micenterimg > img{
    border:2px solid #f1f1f1;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
}
#center .micenter .micenterimg img:nth-child(1){
    position:absolute;
    bottom: 1%; left: 0;
    border: none;
    box-shadow: none;
}
#center .micenter .micenterimg img:nth-child(2){
    position:absolute;
    top:0; left:9%;
}
#center .micenter .micenterimg img:nth-child(3){
    position:absolute;
    bottom: 2%; left: 9%;
}
#center .micenter .micenterimg img:nth-child(4){
    position:absolute;
    top:0; left:40%;
}
#center .micenter .micenterimg img:nth-child(5){
    position:absolute;
    bottom: 10%; left:40%;
}
#center .micenter .micenterimg img:nth-child(6){
    position:absolute;
    top:0; right:0px;
}
#center .micenter .micenterimg img:nth-child(7){
    position:absolute;
    bottom:2%; right:0;
}

#center .downcenter {
    background-image: linear-gradient(90deg, #a6bbe3 0% 50%, #edf6ff 50% 100%);
    overflow: hidden;
    margin-top:100px;
}
#center .downcenter .down{
    max-width:1200px;
    margin:0 auto;
    height:460px;
    position:relative;
    overflow: hidden;
}
#center .downcenter .down img{
    position:absolute;
    top:50%; left:50%;
    z-index: 99999;
    transform: translate(-50%, -50%);
}
#center .downcenter .leftabtn{
    float: left;
    width:50%;
    position:relative;
    padding-left: 150px;
    padding-right: 130px;
    transform: translateY(150px);
}
#center .downcenter .leftabtn p:nth-child(1){
    color:rgb(218,227,243);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}
#center .downcenter .leftabtn p:nth-child(2){
    margin-top:5px;
    color:white;
    font-weight: bold;
}
#center .downcenter .leftabtn p:nth-child(3){
    text-align: right;
    color:white;
    font-weight: bold;
    margin-top:10px;
    font-size: 14px;
}

#center .downcenter .righttext {
    float: right;
    width:50%;
    position:relative;
}
#center .downcenter .righttext p{
    position:absolute;
    top:200px; left:150px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
}

#center .lastcenter{
    max-width:1200px;
    margin:200px auto 100px;
    overflow: hidden;
}
#center .lastcenter >div{
    float: left;
    width:50%;
    text-align: center;
}
#center .lastcenter >div > p:nth-child(1){
    margin-bottom: 30px;
}